@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #374151; /* Track color */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: #6e7888 ;/* Thumb color */
    border-radius: 10px; /* Rounded corners */
}
